<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} <!-- Cargar etiquetas de archivos estáticos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de libros</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <h1><a href="{% url 'book_list' %}" class="navbar-brand">Tienda de libros </a></h1>
            <ul class="nav-links">
                <li><a href="#" class="navbar-icon">Página Principal</a></li>
                <li><a href="#" class="navbar-icon">Categorías</a></li>
                <li><a href="#" class="navbar-icon">Acerca de nosotros</a></li>
                <li><a href="#" class="navbar-icon">
                    <i class="bi bi-cart-fill"></i>
                </a></li>
                <li><a href="#" class="navbar-icon">
                    <i class="bi bi-person-circle"></i>
                </a></li>
            </ul>
        </div>
    </nav>

    <!-- Search Bar -->
    <div class="search-bar">
        <div class="container">
            <form method="GET" action="{% url 'book_list' %}">
                <input type="text" name="q" placeholder="Search for books..." value="{{ request.GET.q }}">
                <button type="submit">Busca un libro</button>
            </form>
        </div>
    </div>
    
    <div class="container">
        <h1>Libros disponibles</h1>
        <div class="book-list">
            {% for book in books %}
                <div class="book-card">
                    <!-- Cada cuadro de libro es un enlace a la página de detalles del libro -->
                    <a href="{% url 'book_detail' book.id %}" class="book-link">
                        <div class="book-image">
                            <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
                        </div>
                        <div class="book-info">
                            <h3>{{ book.volumeInfo.title }}</h3>
                            <p>{{ book.volumeInfo.authors|join:", " }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>